.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
     z-index: 100;
    background-color: #fff;
}
.header_left{
    align-items: center;
    display: flex;
}

.header_logo{
    height: 25px;
    margin-left: 20px;
    width: auto;
}
.header_input{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
    padding: 0 0.5rem;
}
.header_icon{
    margin-right: 10px;
}
.header_inputButton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
    width: 50px !important;

}

.header_input > input{
    flex: 1;
    border: none;
}
.header_icons{
    display: flex;
    align-items: center;
    
}